.egis-portal-footer {
	flex: content;
	color: var(--secondary-font-color);
	padding: calc(var(--default-spacing) * 2);
	background-color: var(--default-background-color);
	&-main {
		width: var(--default-media-width);
		margin: auto;
	}
}
