.egis-portal-content {
	height: 100%;
	min-height: var(--content-min-height);
	flex: auto;
	color: var(--default-meun-text-color);
	// padding: var(--default-spacing);
	background: var(--default-background-color);
}
