.egis-portal-sider {
	position: relative;
	min-width: 0;
	// padding: var(--default-spacing);
	background-color: var(--default-menu-background-color);
	transition: all 0.2s;
	color: var(--default-meun-text-color);
}
