.egis-portal-header {
	height: var(--default-header-height);
	line-height: var(--default-header-height);
	box-shadow: var(--default-header-box-shadow);
	color: var(--default-font-color);
	position: relative;
	z-index: 9999;
	&--title {
		padding: 0 var(--default-spacing);
		font-size: var(--title-font-size);
	}
	&--horizontal {
		.e-space--item {
			padding-bottom: 0 !important;
		}
	}
}
